/* this is the basic style sheet */


h1 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    line-height: 0px;
}
h2 {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}
p {
    text-align: center;
    font-size: 16px;
}

body {
    background-image: url("../img/pen and ink.jpg");
    background-attachment: fixed;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.outer {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 30px;
    display: table;
}
.inner {
    border: none;
    display: table-cell;
    vertical-align: middle;
}

#introbox {
    position: fixed;
    width: 40%;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin-top: -15%;
    margin-left: -20%;
    min-height: 30%;
}